node_modules/
dist/
.env
*.log
vendor/
storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.vscode/
.gemini/
backend/node_modules/
frontend/node_modules/
laravel_core/vendor/
laravel_core/storage/*.key
laravel_core/.env
